@import 'styles/styles.scss';

.ProjectCard {
  background-color: $super-light-gray !important;
  display: flex;
  flex-direction: column;
  padding: $padding-normal;

  &-Name {
    cursor: default;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-Tags {
    color: $gray !important;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
  }

  &-Button {
    margin: auto !important;
    min-width: 80px !important;
  }

  &-Avatar {
    @include size($card-avatar-size);
    margin: 0 auto $margin-normal !important;
  }
}
