@import 'styles/styles.scss';

.Profile {
  @include page-panel($page-width-md);

  &-Title {
    @include page-title;
  }

  &-Avatar {
    @include avatar(70px);
  }
  &-EditAvatar {
    margin: auto;
  }

  &-Input {
    @include page-input;
  }

  &-InputLabel {
    @include page-input-label;
  }

  &-Button {
    &_Password {
      background-color: $primary !important;
    }
    &_Delete {
      background-color: $secondary !important;
    }
  }

  &-IconButton {
    color: $light-gray !important;
  }
}
