@import 'styles/styles.scss';

.AuditorCard {
  background-color: $super-light-gray !important;
  display: flex;
  flex-direction: column;
  padding: $padding-normal;

  &-Name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
  }

  &-Tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: $margin-normal;
  }

  &-Button {
    @include page-button();
    margin: auto !important;
    min-width: 80px !important;
  }
}
