@import 'styles/styles.scss';

.AuditorCard {
  background-color: $super-light-gray !important;
  display: flex;
  flex-direction: column;
  padding: $padding-normal;

  &-Name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
  }

  &-Tags {
    color: $gray !important;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
  }

  &-Button {
    @include page-button();
    margin: auto !important;
    min-width: 80px !important;
  }

  &-Avatar {
    @include size($card-avatar-size);
    margin: 0 auto $margin-normal !important;
  }
}
