@import 'styles/styles.scss';

.AppHeader {
  display: flex;
  flex-direction: row;
  padding-right: 20px;

  &-Logo {
    color: white;
    cursor: pointer;
    margin: 0 10px;
    display: inline-flex;
    margin: auto 0;
    padding: $padding-normal/2 $padding-normal;
    font-size: $page-title-font-size * 1.5;
    font-weight: bold !important;
    @media screen and (max-width: $screen-xs-width) {
      //sisez will be fix in future ( font need to me implemented)
      font-size: $page-title-font-size * 1.2;
    }
  }

  &-Audit {
    color: $secondary;
  }
  &-DB {
    color: $primary;
  }

  &-Buttons {
    margin: auto;
    display: flex !important;
    flex-direction: row;
    margin: auto (-$margin-normal) auto auto;
  }

  &-Sign {
    @include page-button($primary);
    min-width: 100px !important;
    margin: 0 10px !important;
    box-shadow: 0 0 0 0 !important;

    &_in {
      margin-left: auto !important;
    }
    &_up {
      color: #53176d !important;
      background: none !important;
      border: 1.5px solid #53176d !important;
    }
  }

  &-UserPanel {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;
  }
}
