@import 'styles/styles.scss';

.AppHeader {
  display: flex;
  flex-direction: row;

  &-Logo {
    margin: 0 10px;
    margin: auto 0;
    padding: $padding-normal/2 $padding-normal;
  }

  &-Img {
    cursor: pointer;
    width: $l-font-size * 10;

    @media screen and (max-width: $screen-xs-width) {
      width: $sm-font-size * 10;
      margin-left: -17px;
    }
  }

  &-Buttons {
    margin: auto;
    display: flex !important;
    flex-direction: row;
    margin: auto -5px auto auto;
    @media screen and (max-width: $screen-xs-width) {
      margin: auto -30px auto auto;
    }
  }

  &-Sign {
    @include page-button($primary);
    min-width: 100px !important;
    margin: 0 10px !important;
    box-shadow: 0 0 0 0 !important;

    &_in {
      margin-left: auto !important;
    }
    &_up {
      margin-left: -10px;
      color: #53176d !important;
      background: none !important;
      border: 1.5px solid #53176d !important;
    }
  }

  &-UserPanel {
    display: flex;
    flex-direction: row;
    margin: auto -15px auto auto;
  }
}
