@import 'styles/styles.scss';

.ProjectsPanel {
  display: flex;
  flex-direction: column;

  &-Header {
    width: 100%;
    display: flex;
    margin-bottom: $margin-normal;
  }

  &-Button {
    margin: auto !important;
  }

  &-Projects {
    display: flex;
  }
}
