@import 'styles/styles.scss';

.AuditorInfo {
  max-width: $page-width-sm;
  width: -webkit-fill-available !important;

  &-Avatar {
    @include avatar(150px);
    margin: $margin-normal auto;
  }

  &-Lable {
    margin: auto;
    color: $light-gray;
  }

  &-Data {
    color: $text-color;
  }

  &-Tags {
    display: flex;
    justify-content: center;
  }

  &-Close {
    margin: $margin-normal auto !important;
  }
}
