$primary: #ff9900;
$secondary: #52176d;
$text-color: #434242;

$primary_hover: #ff9900dd;
$secondary_hover: #52176ddd;

$red: #f71515;
$white: white;
$gray: gray;
$light-gray: #d8d8d8;
$super-light-gray: #f5f5f5;

$success-bg-color: rgb(212, 245, 212);
$error-bg-color: #fcdfdf;
$disabled-bg-color: $light-gray;

:export {
  primary: $primary;
  secondary: $secondary;
  primary_hover: $primary_hover;
  secondary_hover: $secondary_hover;
  red: $red;
  disabled_bg_color: $disabled-bg-color;
  disabled_text_color: $gray;
  white: $white;
  gray: $gray;
  light_gray: $light-gray;
  sper_light_gray: $super-light-gray;
  text_color: $text-color;
}
