$margin-normal: 20px;
$margin-bottom-normal: 20px;
$margin-top-normal: 20px;

$padding-normal: 25px;
$padding-bottom-normal: 25px;
$padding-top-normal: 25px;

$page-title-font-size: 20px;

$screen-xs-width: 600px;
$screen-xs-heigh: 800px;

$screen-sm-width: 1000px;
$screen-sm-heigh: 1300px;

$xs-font-size: 12px;
$sm-font-size: 14px;
$m-font-size: 16px;
$l-font-size: 18px;
