@import 'styles/styles.scss';

.ProjectInfo {
  max-width: $page-width-sm;
  width: -webkit-fill-available !important;

  &-Avatar {
    @include avatar(150px);
    margin: $margin-normal auto 0 auto;
  }

  &-Name {
    margin: auto;
    color: $text-color;
    font-size: $l-font-size * 2;
  }

  &-Lable {
    margin: auto;
    color: $light-gray;
  }

  &-Data {
    color: $text-color;
  }

  &-Tags {
    display: flex;
    justify-content: center;
  }

  &-Close {
    margin: $margin-normal auto !important;
  }
}
