.Cabinet {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2% !important;
  width: 50%;
  max-width: 550px;
  min-width: 435px;

  &-Title {
    color: dimgray;
  }

  &-Body {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    background-color: white;
    padding: 25px 25px;
    inline-size: -moz-fit-content;
    box-shadow: 1px 1px 6px -2px grey;
  }

  &-AvatarContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &-Avatar {
    margin: auto;
    color: gray;
    width: 70px !important;
    height: 70px !important;
    font-size: xxx-large !important;
  }
  &-EditAvatar {
    margin: auto;
  }

  &-Input {
    width: -webkit-fill-available;
    border: 1.5px solid gray;
  }

  &-Button {
    margin: auto !important;

    &_password {
      background-color: orange !important;
    }
    &_delete {
      background-color: purple !important;
    }
  }
}

input {
  padding: 5px 10px !important;
}
