@import 'styles/styles.scss';

.UserControl {
  display: flex;
  flex-direction: row;
  // margin-left: auto;
  margin-right: 1%;

  &-IconButton {
    height: fit-content;
    margin: auto !important;
  }

  &-UserName {
    margin: auto !important;
    color: black;
  }

  &-Auditor {
    @media screen and (min-width: $screen-xs-width) {
      display: none !important;
    }
  }

  &-Customer {
    @media screen and (min-width: $screen-xs-width) {
      display: none !important;
    }
  }
}
