@import 'styles/styles.scss';

.MainPage {
  // display: flex;
  // flex-direction: column !important;
  // height: 100%;
  // width: 100%;

  &-Content {
    background-color: $secondary;
    padding: calc($padding-normal * 3) 0;
  }

  &-Title {
    bottom: 10px;
    font-size: $xxl-font-size;
    position: relative;
  }

  &-Cards {
    display: flex;
    flex-direction: column !important;
    margin: auto;
    padding-top: 0 !important;
  }

  &-Search {
    background-color: $secondary !important;
    border: 1px solid $white;
    border-radius: 20px !important;
    height: 40px;
  }

  &-CardsHeader {
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: $margin-normal;
  }

  &-WhoIsUsing {
    display: flex;
    font-size: $xl-font-size;
    height: 300px;
    margin: auto;
  }

  &-WhoIsUsingTitle {
    margin: auto;
  }

  &-Footer {
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: $xl-font-size;
    padding: $padding-normal;
  }

  &-FooterHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-normal;
  }

  &-FooterHeaderLogo {
    font-weight: 700;

    &_Left {
      color: $secondary;
    }

    &_Right {
      color: $white;
    }
  }
}
