@import 'styles/styles.scss';

.MainPage {
  display: flex;
  flex-direction: column !important;
  height: 100%;
  width: 100%;

  &-Content {
    margin-top: 0 !important;
  }

  &-Title {
    font-size: $l-font-size;
    font-weight: bold;
  }

  &-Cards {
    display: flex;
    flex-direction: column !important;
    margin: auto;
    padding-top: 0 !important;
  }

  &-Search {
    border: 1px solid $gray;
  }

  &-CardsHeader {
    display: flex;
    justify-content: space-between;
    margin: $margin-normal;
  }
}
