@import 'styles/styles.scss';

.AuditorPanel {
  display: flex;

  &-Input {
    @include page-input;
  }

  &-InputLabel {
    @include page-input-label;
  }

  &-Button {
    margin-bottom: $margin-normal !important;

    &_secondary {
      background-color: $secondary !important;
    }
  }

  &-Alert {
    @include page-alert;
  }
}
