@import 'styles/styles.scss';

.UserNavigate {
  display: flex;
  margin-left: auto;
  margin-right: $margin-normal;
  @media screen and (max-width: $screen-xs-width) {
    display: none;
  }

  &-Links {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 7px;
  }

  &-Link {
    margin: auto !important;
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
  }
}
