@import 'styles/styles.scss';

.Login {
  @include page-panel();

  &-Title {
    @include page-title();
  }

  &-Input {
    @include page-input();
  }

  &-InputLabel {
    @include page-input-label();
  }

  &-Button {
    @include page-button();
    background-color: $secondary !important;
    margin: $margin-top-normal auto !important;
  }

  &-Alert {
    padding-top: 2px !important;
    padding-bottom: 2px !important;

    &_success {
      background-color: rgb(212, 245, 212) !important;
    }
    &_error {
      background-color: #fcdfdf !important;
    }
  }
}

input {
  padding: 5px 10px !important;
}
