@import 'styles/styles.scss';

.Registration {
  @include page-panel;

  &-Title {
    @include page-title;
  }

  &-Input {
    @include page-input;
  }

  &-InputLabel {
    @include page-input-label;
  }

  &-Button {
    @include page-button;
    background-color: $secondary !important;
    margin: 0 auto !important;
  }

  &-Switch {
    width: 250px !important;
    margin: auto !important;
  }

  &-Switches {
    padding: 10px !important;
    display: flex !important;
    justify-content: center !important;
    color: $white !important;
    cursor: pointer;

    &_auditor {
      background-color: $primary !important;
    }
    &_customer {
      background-color: $secondary !important;
    }
    &_disable {
      background-color: #d9d9d9 !important;
      color: $text-color !important;
    }
  }

  &-Error {
    margin: $margin-top-normal 0 0 !important;
    background-color: #fcdfdf !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}
