* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-image: url(../public/welcome_page/background_img.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat";
}

a {
	text-decoration: none;
}

.mobile-buttons .swiper-button-prev::after {
	font-size: 20px !important;
	width: 20px !important;
	height: 20px !important;
}
.mobile-buttons .swiper-button-next::after {
	font-size: 20px !important;
	width: 20px !important;
	height: 20px !important;
}

.MuiPaper-elevation,.MuiPaper-rounded,.MuiPaper-elevation24,.MuiDialog-paper {
	border-radius: 15px !important;
	/*transform: unset;*/
	border: none!important;
}
