* {
	margin: 0;
	padding: 0;
	/* font-family: "Comic Sans"; */
}

html,
body {
	background-image: url(./welcome_page/background_img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat";
}
