@import 'styles/styles.scss';

.Welcome {
  margin: calc($margin-normal * 5) auto calc($margin-normal * 20);
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;

  &-Grid {
    width: 65% !important;
    min-width: 350px !important;
    margin: auto !important;
  }

  &-Header {
    color: $secondary;
    font-size: $xxl-font-size;
    margin: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -30px;
  }

  &-Text {
    color: $text-color;
    font-size: $xl-font-size;
    text-align: center;
  }

  &-Button {
    bottom: -40px;
    position: relative;

    &_auditor {
      margin: 0 0 0 auto !important;
    }

    &_customer {
      margin: 0 auto 0 0 !important;
    }

    @media screen and (max-width: $screen-xs-width) {
      margin: auto !important;
    }
  }
}
