@mixin page-input {
  width: -webkit-fill-available;
  border: 1px solid $light-gray;

  &_error {
    border: 1px solid $red !important;
  }

  &_disabled {
    border: 1px solid $super-light-gray !important;
  }
}
