@mixin page-panel(
  $width: $page-width-sm,
  $padding: $page-padding,
  $margin: $page-margin
) {
  background-color: white;
  box-shadow: 1px 1px 6px -2px grey;
  margin-top: 100px !important;
  min-width: 300px !important;
  max-width: $width !important;
  padding: calc($padding-normal * 2) $padding;
  position: relative;
  width: 50%;

  @media (max-width: $screen-xs-width) {
    margin-top: 40px !important;
    padding: 20px;
  }
}
